#square {
	border: 10px solid black;
	background: grey ;
	height: 300px;
	width: 400px;
	padding-left: 10px;
}



td {
	padding-bottom: 10px;
}


#perfil #bla{
	color: red
}


.yellow_look{
	color: yellow;

}

.orange_look{
	color: orange;
}

.grey_look{
	color: #D3D3D3;
}


.danger{
	color: red;

}

.orange_side{
	color: orange;
}

#radio_input{
	color: yellow;

}



.left_side{
	padding-right: 30px;
	color: white;
	font-style: italic;
}


#text {
	padding-top: 0px;
	color: red
}

#left_side .status{
	padding-top: 40px
}



